<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= GOOGLE_TAG_ID %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= GOOGLE_TAG_ID %>');
    </script>

    <meta charset="UTF-8">
    <meta name="description" content="NavajoStrong is a non-profit organization dedicated to helping the Navajo people during the COVID-19 pandemic. Donate Today.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavajoStrong</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- FONTAWESOME: FOR SOCIAL ICONS -->
    <script src="https://kit.fontawesome.com/e376b31f5f.js" crossorigin="anonymous"></script>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kumbh+Sans:wght@300;400&display=swap" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/imgs/favicon-16x16.png">

</head>
<body>






    
