<%- include("./partials/header.ejs") -%>

<!-- NAVIGATION SECTION -->

<section class="navigation-section">

    <nav id="myNavbar" class="navbar navbar-expand-lg bg-dark navbar-dark">
      <a class="navbar-brand" href="/">#NavajoStrong</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler01">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-expand-lg" id="navbarToggler01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/#get-help">Get Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#donate">Donate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#volunteer">Volunteer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contact">Contact</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>

</section>

<section class="light-section about-section container-fluid">
    <div class="row">
        <div class="our-mission-container about-content-container col-12">
            <h1>
                Our Mission
            </h1>
            <hr>
            <p>
                NavajoStrong was created to aid the Navajo Community during the COVID-19 pandemic and economic crisis.
            </p>
            <p>
                We strive to honor our ancestors and empower the Diné by working hard to help citizens affected by disease, poverty, and other health dispairities on the Navajo reservation.
            </p>
        </div>
        <div class="our-goals-container about-content-container  col-12">
            <h1>
                Our Goals
            </h1>
            <hr>
            <p>
                Assist the vulnerable families and at-risk individuals during the COVID-19 pandemic and economic crisis by providing them with water, food, and enough essential supplies, such as hand sanitizer, soap, and cleaner, to last at least two weeks.
            </p>
            <p>
                Empower the people by providing them written education regarding the disease, resources for help, and knowledge about the disease. We aim to provide information in both written Navajo and English language.
            </p>
            <p>
                Because some people cannot drive to community distribution centers or travel on the weekend, we serve those who live in remote areas who cannot travel due to quarantine, lack of transportation, or other factors.
            </p>
        </div>
    </div>
</section>

<section class="dark-section about-section container-fluid">
    <div class="row">
        <div class="who-container col-12">
            <h1>
                How Did NavajoStrong Start?
            </h1>
            <p>
                As an ICU nurse and Navajo American, Bud Frazier followed the progress of COVID-19 closely. In a nation where 30 to 40 percent lack running water and electricity, good hygiene is nearly impossible. And that was the impetus for NavajoStrong.
            </p>
            <p>
                At first, Bud created a simple post on social media requesting donations. Since then, the movement was picked up by local media and grew exponentially from there. Four days after that first post, eight trucks and trailors chocked full of supplies were delivered to the Navajo people. We continue to deliver supplies where they're needed the most.  
            </p>
        </div>
    </div>
</section>

<section class="light-section about-section container-fluid">
    <div class="row"> 
        <div class="thank-you-container col-12">
            <h1>
                Thank You
            </h1>
            <hr>
            <p>
                None of this would possible without your continual support and encouragement. In addition to all our friends and supporters, we want to highlight the efforts of those who've contributed above and beyond (in no particular order!).
            </p>
            <div class="contributors about-content-container ">
                <h2>Our Contributors</h2>
                <p>
                    Matthew Frazier, Becca Berry, John Durling, Pete Sands, Eric & Kassie Christensen, Katie Graham, Elena Karas, Sahar Khadjenoury, Dough Kirmer,
                    Kent Williamson, Deanna Weierholt, Tara Scarioni, Rita Sundberg, Todd Bailey, Blanding 2nd Ward, Jessi McKinley, Lladd McKinley,
                    Provo City School District, Running Strong, DJ Battleship, Tania Dean (KSL), Allison Croghan (Fox 13), Tamara Vaifanua (Fox 13), Krista Allen (Navajo Times),
                    Maren Jensen (KUTV), Jami Bayles, Alene Laney (San Juan Record), Ramsey Seweingyamwa, Kelli Morrow, Utah State University - Blanding,
                    Liz Clawson, Mario Platero, Tammie Bedoni, Yvonne Curely, Mike & Nicole Strong, Georgia Hafen, Jami Bayles, Parker at Enterprise Truck Rental,
                    Ryan at Costco, Brody and the Utah Sunset Fireman's Association, Dry Creek Physical Therapy, Utah Knights of Columbus, Mike Rowe & Returning the Favor, 
                    Brawny & Joan Creative, Family Literacy Centers, Inc., Utah Navajo Health System, Inc., Christkindmarkt ,Subzero Nitrogen Ice Cream, Melāni Glass,
                    Nuzzles & Co, Dolls of Hope, Jules Chan, Alicia Martin & Family, A Ripple International, Chuck and Tanya Schumaker, Leah Swenson & Family,
                    and Mandi Gubler (VintageRevivals)
                </p>
            </div>
            <div class="team-members about-content-container ">
                <h2>Our Team Mates</h2>
                <p>
                    Bud & Candee Frazier, Curtis & Teresa Frazier, Travis & Jessika Frazier, Shea Frazier, Tyler Frazier,
                    Bahe Wilson, Nate Anderberg, Judy Barron, Brenda Munson, Megan Harris, Farrah Hudson, Kevin Kunz, Meredith Little,
                    Megan Nelson, Melissa Pickering, Kati Price, and Tisheena Yazzie
                </p>
            </div>
        </div>
        </div>

</section>


<%- include("./partials/footer.ejs") -%>