<%- include("./partials/header.ejs") -%>


<section class="error-section dark-section container-fluid">

    <div class="row">
        <div class="col-12">
            <h1 class="err-message">Error 404</h1>
            <h2>Sorry, we couldn't find the page you needed.</h2>
            <a href="/"><button class="btn btn-lg btn-primary light-button">Go Back</button></a>
        </div>
    </div>

</section>


