<%- include("./partials/header.ejs") -%>

    <!-- NAVIGATION BAR -->

    <section class="navigation-section">

        <nav id="myNavbar" class="navbar navbar-expand-lg bg-dark navbar-dark">
          <a class="navbar-brand" href="/"><h3>#NavajoStrong</h3></a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler01">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse navbar-expand-xl" id="navbarToggler01">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#get-help">Get Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#donate">Donate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#volunteer">Volunteer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/in-the-news">Media</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </nav>

        </section>



<!-- LANDING SECTION -->
<section class="dark-section landing-section container-fluid">
    <div class="landing-row row">
        <div class="landing-text-container col-12 col-xl-6 order-xl-1 order-12">
            <h1 class="landing-lead-header">We provide COVID-19 relief for the Navajo community.</h1>
            <div class="row lead-button-container">
                <div class="col-sm-4 col-12">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfoFrDYx-mb0otUuXS3ZxyLy3qFZjfdCkiwmIfRxvE3UpvMrQ/viewform" target="_blank"><button type="button" class="light-button btn btn-md btn-primary">Get Help</button></a>
                </div>
                <div class="col-sm-4 col-12">
                    <a href="https://www.gofundme.com/f/navajostrong-for-the-navajo-commmunity?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1" target="_blank"><button type="button" class="light-button btn btn-md btn-primary">Donate</button></a>
                </div>
                <div class="col-sm-4 col-12">
                    <a href="https://airtable.com/shrADZpLlVHdeoAZy" target="_blank"><button type="button" class="light-button btn btn-md btn-primary">Volunteer</button></a>
                </div>
            </div>   
        </div>
        <div class="landing-img-container col-12 col-xl-6 order-xl-12 order-1">
            <img class="navajo-strong-logo-img" src="../assets/imgs/navajo-strong-logo.png" alt="navajo strong logo">
        </div>
    </div>
</section>

<!-- GET HELP SECTION -->

<section id="get-help" class="light-section get-help-section container-fluid">
    <div class="get-help-row row">
        <div class="col-12 col-md-6 button-container">
            <h2 class="section-header-text get-help-lead">In need of help? Request relief now.</h2>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfoFrDYx-mb0otUuXS3ZxyLy3qFZjfdCkiwmIfRxvE3UpvMrQ/viewform" target="_blank"><button type="button" class="dark-button request-relief-btn btn btn-md btn-primary">Request COVID-19 Relief</button></a>
        </div>
        <div class="col-12 col-md-6">
            <p class="get-help-text section-text">Are you in dire need of help? Notice someone in your community struggling due to the impact of COVID-19? Please fill out the linked form. </p>
            <p class="get-help-text section-text">There are a lot of people who need help at this time. Please reach out to several organizations helping the Navajo Reservation. They may be able to connect you with resources faster than we can.</p>
        </div>
    </div>
    <hr>
    <div class="get-help-row row">
        <div class="col-12 col-lg-6">
            <div class="card first-card">
                <h3>Check out these Orgs</h3>
                <hr>
                <p>Other groups may be able to help you faster than we can.</p>
                <ul>
                <li>
                    <h6><a href="https://www.wearenavajo.org/programs-services/COVID" target="_blank">Utah Help</a></h6>
                    <p>Call Pete (435)-678-0709</p>
                </li>
                <li>
                    <h6><a href="https://www.navajohopisolidarity.org/" target="_blank">Arizona Help</a></h6>
                    <p>Navajo & Hopi Families COVID Help Request Site</p>
                </li>
                <li>
                    <h6><a href="https://docs.google.com/forms/d/e/1FAIpQLSdduMY82CKxYIstxYSne_W1TFNFq_1A2d0FlSl6pQT_Lw3-bg/viewform?embedded=true&fbclid=IwAR2OmFIi3RHXeq4JMoZ_SygP67DvyWbo73FYmajskRrOMnSKRuqqDuKK_No" target="_blank">Dennehotso Community</a></h6>
                    <p>Contactless care packages provided for Dennehotso community members</p>
                </li>
                </ul>
            </div>
        </div>
       
        <div class="col-12 col-lg-6">
            <div class="card second-card">
                <h3>Reach out to your local chapter house</h3>
                <hr>
                <p>Please attempt to contact your local chapter house or the Navajo Nation Health Command Center for help.</p>
                <ul class="card-list">
                <li>Navajo Command Center Hotline: <span>(928) 871-7014</span></li>
                <li>HCOC Mental Health Helpline: <span>(928) 810-7357</span></li>
                <li>Email: <span>coronavirus.info@nndoh.org</span></li>
                <li>Facebook: <span>navaodepthealth</span></li>
                <li>Instagram: <span>navajonation_doh</span></li>
                <li>Twitter: <span>navajohealth</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- DONATE SECTION -->

<section id="donate" class="dark-section donate-section container-fluid">
    <div class="donate-section-text donate-header-row row">
        <h2 class="section-header-text">Please Donate Today.</h2>  
    </div>   
    <div class="donate-section-text row">
        <div class="col-lg-6 col-12"> 
            <p class="section-text donate-text">Your help ensures that we can get resources to the people that need it today. Donations go towards provisioning and distributing supplies that directly help the Navajo people. As of August 2019, we've completed over 800 requests for supplies. </p>  
            <p class="donate-text">Monetary donations can be sent to <span>NavajoStrong 45 N Montrose Lane Saratoga Springs 84043</span>. Thank you!</p>
        </div>
        <div class="donation-option-buttons col-lg-6 col-12">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <a href="https://charity.gofundme.com/o/en/donate-widget/22569" target="_blank"><button class="light-button btn btn-sm btn-primary">Gofundme</button></a>
                </div>
                <div class="col-12 col-sm-6">
                    <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=MHQ558BCCXW6Y&source=url" target="_blank"><button class="light-button btn btn-sm btn-primary">Paypal</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <a href="https://venmo.com/budfraze" target="_blank"><button class="light-button btn btn-sm btn-primary">Venmo</button></a>
                </div>
                <div class="col-12 col-sm-6">
                    <a href="https://www.bonfire.com/store/navajostrong/" target="_blank"><button class="light-button btn btn-sm btn-primary">Buy Merch</button></a>
                    
                </div>
            </div>
        </div>
    </div>
    
  

</section>

<!-- VOLUNTEER SECTION -->

<section id="volunteer" class="light-section volunteer-section container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header-text">Volunteer with NavajoStrong</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card first-card">
                <a href="https://airtable.com/shrb320R8ugjDVgFl" target="_blank">
                    <button type="button" class="dark-button btn btn-lg btn-primary">Housing Repair Project</button>
                </a>
            <p>Are you a handy-man? We'd love your help completing home repair requests for families in need. We're seeking contractors, carpenters, framers, and those experienced with tools.</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card second-card">
                <a href="https://airtable.com/shrADZpLlVHdeoAZy" target="_blank">
                    <button type="button" class="dark-button btn btn-lg btn-primary">Volunteer</button>
                </a>
            <p>We need volunteers to deliver essential supplies, load & unload trucks, help with business administration, and sew masks. </p>
            <p>Have a special talent? Reach out!</p>
            </div>
        </div>   
    </div>
</section>

<!-- SOCIALS SECTION -->

<section class="dark-section socials-section container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header-text">Follow us on social media</h2>
        </div> 
    </div>
    <div class="social-icon-container section-text row">
        <div class="col-12">
        <a href="https://www.instagram.com/navajostrong/" target="_blank"><i class="fab fa-4x fa-instagram-square"></i></a>
        <a href="https://www.facebook.com/NavajoStrong/" target="_blank"><i class="fab fa-4x fa-facebook"></i></a>
        <a href="https://twitter.com/navajostrong" target="_blank"><i class="fab fa-4x fa-twitter-square"></i></a>
        </div>   
    </div>
</section>


<!-- CONTACT US SECTION -->

<section id="contact" class="light-section contact-section container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header-text">Contact Us</h2>
            <hr>
            <p>Don't hesitate to reach out if you have any questions!</p>
            <p>info@navajostrong.com</p>
            <p>(435)485-8449</p>
        </div>
    </div>
    <div class="form-container row">
        <div class="col-12">
   
            <form action="https://formspree.io/<%= FORMSPRING_ID %>" method="POST">
                <input class="form-item" type="text" placeholder="your name" name="your name" required>
                <input class="form-item" type="text" placeholder="email" name="_replyto" required>
                <textarea rows="5" class="form-item" name="message" placeholder="your thoughts..." required></textarea>
                <button class="dark-button btn btn-md btn-primary" type="submit">Send</button>
            </form>
        </div>
    </div>
</section>


<%- include("./partials/footer.ejs") -%>