<%- include("./partials/header.ejs") -%>

<!-- LANDING SECTION -->
<section class="dark-section landing-section container-fluid">
    <div class="landing-row row">
        <div class="landing-text-container col-12 col-xl-6 order-xl-1 order-12">
            <h1 class="landing-lead-header">Our Mission is to Help</h1>
            <p class="landing-lead-text">
                What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?
            </p>
            <div class="row lead-button-container">
                <div class="col-sm-4 col-12">
                    <button type="button" class="btn btn-md btn-primary"><a href="">Get Help</a></button>
                </div>
                <div class="col-sm-4 col-12">
                    <button type="button" class="btn btn-md btn-primary"><a href="">Donate</a></button>
                </div>
                <div class="col-sm-4 col-12">
                    <button type="button" class="btn btn-md btn-primary"><a href="">Volunteer</a></button>
                </div>
            </div>   
        </div>
        <div class="landing-img-container col-12 col-xl-6 order-xl-12 order-1">
            <img class="navajo-strong-logo-img" src="../assets/imgs/navajo-strong-logo.png" alt="navajo strong logo">
        </div>
    </div>
</section>

<!-- GET HELP SECTION -->

<section class="light-section get-help-section container-fluid">
    <div class="get-help-row row">
        <div class="col-12 col-md-6 button-container">
            <h2 class="section-header-text get-help-lead">In need of help? Request relief now. </h2>
            <button type="button" class="dark-button request-relief-btn btn btn-md btn-primary"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfoFrDYx-mb0otUuXS3ZxyLy3qFZjfdCkiwmIfRxvE3UpvMrQ/viewform">Request COVID-19 Relief</a></button>
        </div>
        <div class="col-12 col-md-6">
            <p class="get-help-text">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?</p>
        </div>
    </div>
    <hr>
    <div class="get-help-row row">
        <div class="col-12 col-lg-6">
            <div class="get-help-card first-card">
                <h3>Check out these Orgs</h3>
                <hr>
                <p>Other groups may be able to help you faster than we can.</p>
                <ul>
                <li>
                    <h6><a href="https://www.wearenavajo.org/programs-services/COVID">Utah Help</a></h6>
                    <p>Call Pete (435)-678-0709</p>
                </li>
                <li>
                    <h6><a href="https://docs.google.com/forms/d/e/1FAIpQLScMcnYWc7ucAXYU9LGND99bpxBjYZGsSh3H-pUHZVybZwFpHg/viewformwww.navajohopisolidarity.org">Arizona Help</a></h6>
                    <p>Navajo & Hopi Families COVID Help Request Form</p>
                </li>
                <li>
                    <h6><a href="https://docs.google.com/forms/d/e/1FAIpQLSdduMY82CKxYIstxYSne_W1TFNFq_1A2d0FlSl6pQT_Lw3-bg/viewform?embedded=true&fbclid=IwAR2OmFIi3RHXeq4JMoZ_SygP67DvyWbo73FYmajskRrOMnSKRuqqDuKK_No">Dennehotso Community</a></h6>
                    <p><em>We Are Navajo</em> provides elderly emergency supplies</p>
                </li>
                </ul>
            </div>
        </div>
       
        <div class="col-12 col-lg-6">
            <div class="get-help-card second-card">
                <h3>Reach out to your local chapter house</h3>
                <hr>
                <p>Other groups may be able to help you faster than we can.</p>
                <ul class="get-help-card-list">
                <li>Navajo Command Center Hotline: <span>(928) 871-7014</span></li>
                <li>HCOC Mental Health Helpline: <span>(928) 810-7357</span></li>
                <li>Email: <span>coronavirus.infro@nndoh.org</span></li>
                <li>Facebook: <span>navaodepthealth</span></li>
                <li>Instagram: <span>navajonation_doh</span></li>
                <li>Twitter: <span>navajohealth</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- DONATE SECTION -->

<section class="dark-section donate-section container-fluid">
    <div class="donate-section-text donate-header-row row">
        <h2 class="section-header-text">Please Donate Today.</h2>  
    </div>   
    <div class="donate-section-text row">
        <div class="col-lg-6 col-12"> 
            <p class="donate-text">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?</p>  
            <p class="donate-text">Monetary donations can be sent to <span>NavajoStrong 45 N Montrose Lane Saratoga Springs 84043</span>.</p>
        </div>
        <div class="donation-option-buttons col-lg-6 col-12">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <button class="light-button btn btn-sm btn-primary"><a href="https://www.gofundme.com/f/navajostrong-for-the-navajo-commmunity?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1">Gofundme</a></button>
                </div>
                <div class="col-12 col-sm-6">
                    <button class="light-button btn btn-sm btn-primary"><a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=MHQ558BCCXW6Y&source=url">Paypal</a></button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <button class="light-button btn btn-sm btn-primary"><a href="https://venmo.com/budfraze">Venmo</a></button>
                </div>
                <div class="col-12 col-sm-6">
                    <button class="light-button btn btn-sm btn-primary"><a href="https://www.bonfire.com/store/navajostrong/">Buy Merch</a></button>
                    
                </div>
            </div>
        </div>
    </div>
    
  

</section>

<!-- VOLUNTEER SECTION -->

<section class="light-section volunteer-section container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header-text">Volunteer with NavajoStrong</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class=" col-12 col-md-6">
            <div class="get-help-card first-card">
            <button type="button" class="dark-button btn btn-lg btn-primary">
                <a href="https://airtable.com/shrb320R8ugjDVgFl">Housing Repair Project</a>
            </button>
            <p>Are you a handy-man? We'd love your help completing home repair requests for families in need. We're seeking contractors, carpenters, framers, and those experienced with tools.</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="get-help-card second-card">
            <button type="button" class="dark-button btn btn-lg btn-primary">
                <a href="">Volunteer</a>
            </button>
            <p>We need volunteers to deliver essential supplies, load & unload trucks, help with business administration, and sew masks. </p>
            <p>Have a special talent? Reach out!</p>
            </div>
        </div>   
    </div>
</section>

<!-- SOCIALS SECTION -->

<section class="dark-section socials-section container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header-text">Follow us on social media</h2>
        </div> 
    </div>
    <div class="social-icon-container row">
        <div class="col-12">
        <a href="https://www.facebook.com/NavajoStrong/"><i class="fab fa-4x fa-instagram-square"></i></a>
        <a href="https://www.instagram.com/navajostrong/"></a><i class="fab fa-4x fa-facebook"></i></a>
        <a href="https://twitter.com/navajostrong"></a><i class="fab fa-4x fa-twitter-square"></i></a>
        </div>   
    </div>
</section>


<!-- CONTACT US SECTION -->

<section class="light-section contact-section container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header-text">Contact Us</h2>
            <hr>
            <p>Don't hesitate to reach out if you have any questions!</p>
            <p>info@navajostrong.com</p>
            <p>(435)485-8449</p>
        </div>
    </div>
    <div class="form-container row">
        <div class="col-12">
   
            <form action="https://formspree.io/<%= FORMSPRING_ID %>" method="POST">
                <input class="form-item" type="text" placeholder="your name" name="your name">
                <input class="form-item" type="text" placeholder="email" name="_replyto">
                <textarea rows="5" class="form-item" name="message" placeholder="your thoughts..."></textarea>
                <button class="dark-button btn btn-md btn-primary" type="submit">Send</button>
            </form>
        </div>
    </div>
</section>


<%- include("./partials/footer.ejs") -%>