<%- include("./partials/header.ejs") -%>

<%- include("./partials/navbar.ejs") -%>

<!-- IN THE NEWS -->

<section class="media-section light-section container-fluid">
    
    <div class="media-container">

        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item grid-item2">
                <div class="">
                    <div class="card first-card">
                    <h1>In the News</h1>
                    <hr>
                    <p>
                        Recently featured in the Navajo Times, KSLTV, The San Juan Record, and FOX 13 Utah, we have collected donations and essential supplies, before directly delivering them to families of the Navajo Community.
                    </p>
                    <p>
                        To date, we have delivered to over 700 families in need and are still are going NavajoStrong! In addition to direct deliveries, our team has provided water, food, hand sanitizer, essential cleaning, and hygiene items to the local to chapter houses of Kaibito, Kayenta, Leupp, Chilchinbito & Second Mesa (Hopi Village) in Arizona, Navajo Mountain, Utah Navajo Health System, Inc., Inscription House in Utah, Shiprock Police Department, Sonostee, Two Grey Hills, and Lavida Seventh Day Mission in New Mexico.  
                    </p>
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class="card">
                    <img class="news-img" src="../assets/news-imgs/news-img1.png" alt=""> 
                    <div class="media-content">
                        <h3><a href="https://kutv.com/features/pay-it-forward/pay-it-forward-navajostrong-brings-truckloads-of-help-to-navajo-nation">KUTV</a></h3>
                        <hr>
                        <p class="media-content-text">Pay it Forward: NavajoStrong brings truckloads of help to the Navajo Nation.</p>
                    </div>  
                </div>  
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="news-img" src="../assets/news-imgs/news-img2.png" alt="">
                    <div class="media-content">
                        <h3><a href="https://navajotimes.com/ae/people/utah-man-launches-effort-to-help-dine/">Navajo Times</a></h3>
                        <hr>
                        <p>Utah man launches effort to help the Diné.</p>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="news-img" src="../assets/news-imgs/news-img3.png" alt="">
                    <div class="media-content">
                        <h4><a href="https://www.canyoncountryzephyr.com/2020/08/02/san-juan-countys-bud-frazier-brings-hope-and-essential-supplies-with-navajo-strong-by-jami-bayles/">Canyon Country Zephyr</a></h4>
                        <hr>
                        <p>San Juan's Bud Frazier brings hope to Navajo Nation</p>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="news-img" src="../assets/news-imgs/news-img4.png" alt="">
                    <div class="media-content">
                        <h3><a href="https://www.sjrnews.com/bluff-mexican-hat-montezuma-creek-aneth-monument-valley-oljato-navajo-mountain/navajo-strong-%E2%80%93">San Juan Record</a></h3>
                        <hr>
                        <p>Navajo Strong - Empowering the citizens of the Navajo Nation with essential supplies</p>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="news-img" src="../assets/news-imgs/news-img8.png" alt="">
                    <div class="media-content">
                        <h3><a href="https://www.youtube.com/watch?v=mxdK_oNXlpU&feature=emb_title&ab_channel=FOX13NewsUtah">Fox 13</a></h3>
                        <hr>
                        <p>The Rebound: Fighting the coronavirus in the Navajo Nation</p>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="news-img" src="../assets/news-imgs/news-img5.png" alt="">
                    <div class="media-content">
                        <h3><a href="https://ksltv.com/438341/navajo-strong-project-helping-get-supplies-to-hundreds-in-navajo-nation/">KSL TV</a></h3>
                        <hr>
                        <p>Navajo Strong Project Getting Supplies to Hundreds in the Navajo Community</p>
                    </div>
                    </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="news-img" src="../assets/news-imgs/news-img6.png" alt="">
                    <div class="media-content">
                        <h3><a href="https://www.usu.edu/today/story/aggies-lead-relief-supply-drive-efforts-for-navajo-nation">USU</a></h3>
                        <hr>
                        <p>Aggies Lead Relief Supply Drive Efforts for Navajo Nation</p>
                    </div>
                    </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="news-img" src="../assets/news-imgs/work-human-img.png" alt="">
                    <div class="media-content">
                        <h3><a href="https://www.workhuman.com/resources/keeping-work-human/video-kevin-kunz-standing-with-marginalized-communities">WORKHUMAN</a></h3>
                        <hr>
                        <p class="media-content-text">Kevin Kunz': Standing with Marginalized Communities</p>
                    </div> 
                    </div>  
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="news-img" src="../assets/news-imgs/news-img-skirt.png" alt="">
                    <div class="media-content">
                        <h3><a href="https://navajotimes.com/coronavirus-updates/amid-pandemic-shimasani-bi-skirts-serves-grandmothers/">Navajo Times</a></h3>
                        <hr>
                        <p>Amid pandemic, 'Shimásáni bi Skirts' serves grandmothers</p>
                    </div>
                    </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="news-img" src="../assets/news-imgs/news-img-bud.png" alt="">
                    <div class="media-content">
                        <h3><a href="https://www.fox13now.com/news/making-ends-meet/utah-man-organizing-a-trip-to-the-navajo-nation-with-much-needed-supplies">Fox 13</a></h3>
                        <hr>
                        <p>Utah man organizing a trip to the Navajo Nation with much-needed supplies</p>
                    </div>
                    </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="news-img" src="../assets/news-imgs/news-img7.png" alt="">
                    <div class="media-content">
                        <h3><a href="https://www.facebook.com/watch/?ref=external&v=891095421403523">Returning the Favor</a></h3>
                        <hr>
                        <p>Mike Rowe and the team return the favor to Bud Frazier, ICU nurse and lead organizer of the Navajo Strong movement.</p>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>


<%- include("./partials/footer.ejs") -%>