body {
    font-family: 'Kumbh Sans', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #EAB63C;
}

a:hover {
    color: #9e7a26;
}

/*...... NAVBAR ...........*/

#myNavbar {
    background-color: #3A6375;
    padding: 1% 15% .25% 11%;
}

.navbar {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar li {
    margin-right: 10px;
}

.navbar-dark .navbar-toggler {
    outline: none;
    border: 0;
}

.bg-dark {
    background-color: #762c2c !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:#eab63c;
}

.scrolled-navbar {
    box-shadow: 2px 2px 5px rgba(33,27,35, 0.3);
}

/*....... GENERAL STYLES ........*/


.container-fluid {
    padding: 7% 10%;
}

.dark-section {
    /* background-color:#762c2c; */
    background-color: #762c2c;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23903636' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23c64a4a'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
    background-color: #762c2c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%236e2929' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23ab4040' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23722a2a' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a53e3e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23762c2c' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239e3b3b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%237a2d2d' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23983939' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%237e2f2f' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23923636' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23823030' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%238c3434' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color:white;
}

.light-section {
    background-color: white;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn {
    border-radius: 0px;
    
}

.dark-button {
    margin-bottom: 5%;
    background-color: #3A6375;
    font-size: 1.15rem;
    border: 3px solid #eab63c;
}

.dark-button:hover, .dark-button:active {
    background-color: #233c47
}


/* ..... LANDING SECTION STYLES .....*/

.landing-row {
    padding-top: 3%;
}

.landing-text-container {
    line-height: 2;
    padding: 6% 2%;
}

.landing-lead-header {
    font-size: 4rem;
}

.landing-img-container {
    text-align: center;
}

.navajo-strong-logo-img {
    width: 80%;
}

.lead-button-container {
    
    text-align: center;
    padding-top: 5%;
    margin-left: -15px;
}

.lead-button-container .btn {
    padding: 5% 10% 5% 10%;
    background-color: transparent;
    border: 2px solid white;
    width: 90%;
    height: 50px;
}

.lead-button-container .btn:hover, .lead-button-container .btn:active {
    background-color: #eab63c;
}

/****** GET HELP ******/

.get-help-section hr {
    margin: 2% 0 5% 0;
}

.get-help-row:first-of-type {
    /* margin-bottom: 2%; */
}

.get-help-lead {
    font-size: 3rem;
    margin-bottom: 5%;
}

.get-help-text {
    line-height: 2;
}

.get-help-card {
    /* text-align: center; */
    border-radius: 5px;
    width: 95%;
    padding: 3%;
    -webkit-box-shadow: 3px 4px 18px 0px rgba(163,163,163,1);
    -moz-box-shadow: 3px 4px 18px 0px rgba(163,163,163,1);
    box-shadow: 3px 4px 18px 0px rgba(163,163,163,1);
}

/* .get-help-card ul span {

} */

.get-help-card-list li {
    margin-bottom: 1.05%;
}

.get-help-card h3 {
    text-align: center;
}

.request-relief-btn {
    padding: 3%;
}

/***** FOOTER ******/

.footer-text {
    color: #bf7878;
    text-align: center;
}



/**** RESPONSIVE ******/

@media (max-width: 1185px) {
    .landing-lead-header {
        text-align: center;
        margin-bottom: 2%;
    }

    .landing-lead-text {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .get-help-card {
        padding-top: 5%;
        margin-bottom: 10%;
        font-size: .9rem;
    }

    .get-help-card h3 {
        font-size: 1.25rem;
    }
}


@media (max-width: 900px ) {


    .navajo-strong-logo-img {
        width: 90%;
    }


}

@media (max-width: 575px) {

    #myNavbar {
       padding: 1% 5%;
    }

    .landing-row {
        margin-top: 15%;
    }


    .lead-button-container .btn {
        margin-bottom: 3%;
        padding: 0;
        width: 70%;
    }
}

@media (max-width: 400px) {
    .landing-lead-header {
        font-size: 2.5rem;
        margin-bottom: 8%;
    }
}

@media (max-width: 300px) {
   
}